:root {
    --md-primary-fg-color:        #316D9E;
    --md-primary-fg-color--light: #99CCF6;
    --md-primary-fg-color--dark:  #193B57;
  }
.wy-side-nav-search {
background: #316D9E;
background-color: #316D9E;
}
.wy-nav-side {
background: #316D9E;
background-color: #316D9E;
}
.rst-versions .rst-current-version {
background: #316D9E;
background-color: #ff6600;
}